 

.project-container {
    display: flex;
    flex-flow: row wrap;
    height: 500px;
    width: 90%;
    max-width: 1281px;
    background-color: #313131d0;
    color: white;
    font-family: 'Francois One', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border-radius: 5px;
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    overflow: hidden;
}


.project-details {
    display: flex;
    flex-flow: column wrap;
    width: 99%;
    padding: 20px;
    margin-left: auto;
    background-image: linear-gradient(to left, #31313100 0%, #0c0c0c 100%);
    z-index: 10;
}
.project-verbiage {
    width: 50%;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    text-align: start;
}
.project-description {
    margin-bottom: 5%;
}

.project-verbiage button {
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    background: #e0e0e0;
    margin-right: 5%;
    outline: 0;
    border: 0;
    cursor: pointer;
    line-height: 1;
    transition: transform 200ms, background 200ms;
}
.project-verbiage button:hover {
    transform: translateY(-2px);
}
.project-verbiage button:active {
    background-color: #FFCC66;
    transform: translateY(2px);
}
.project-verbiage a {
    color: #363636;    
}

.project-verbiage a:hover {
    text-decoration: none;
}
.project-verbiage a:active {
    text-decoration: none;
}


.project-preview {
    display: flex;
    width: 1%;
    height: 100%;
    justify-content: end;
}
.project-preview img {
    width: auto;
    height: 100%;
    border-radius: 4px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}