 

.project-container {
    display: flex;
    flex-flow: row wrap;
    height: 500px;
    width: 90%;
    max-width: 1281px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border-radius: 5px;
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    overflow: hidden;
}

.project-preview {
    display: flex;
    width: 40%;
    padding: 15px
}
.project-preview img {
    width: 100%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.project-details {
    display: flex;
    flex-flow: column wrap;
    width: 55%;
    margin-left: auto;
}
.project-verbiage {
    width: 90%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.project-verbiage button {
    border: none;
    background-color: white;
}
.project-verbiage button:hover {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    overflow: hidden;
}
.project-verbiage a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
}
.project-verbiage a:hover {
    text-decoration: none;
}