.contact-container {
    min-height: calc(100vh - 185px);
    display: flex;
    flex-flow: row wrap;
    background-color: #363636;
}
/* left side of contact section */
.contact-text {
    display: flex;
    flex-flow: column wrap;
    width: 45%;
    min-width: 312px;
    align-items: flex-start;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
#contact-text-head {
    font-size: 50px;
    font-family: 'Francois One', sans-serif;
}
#contact-text-subhead {
    width: 90%;
    text-align: flex-start;
    font-size: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* right side of contact section */
.contact-form {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    font-family: 'Francois One', sans-serif;
}
.contact-form form {
    display: flex;
    flex-flow: column wrap;
    width: 90%;
}
.contact-form form label {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    color: white;
}
.contact-form input:focus {
    outline: 2px solid #FFCC66;
}
.contact-form textarea:focus {
    outline: 2px solid #FFCC66;
}
/* name and email section of contact form */
.contact-name-email {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
}
.contact-name {
    width: 48%;
}
#contact-name-label {
    width: 100%;
}
#contact-name-input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
}
.contact-email {
    width: 48%;
}
#contact-email-label {
    width: 100%;
}
#contact-email-input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
}
/* textarea for Message of email */
#contact-message {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    overflow: auto;
}
/* send message button of contact form */
#contact-submit {
    width: 200px;
    height: 50px;
    padding: 14px 24px 16px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #363636;
    background: #e0e0e0;
    outline: 0;
    border: 0;
    cursor: pointer;
    line-height: 1;
    transition: transform 200ms, background 200ms;
}
#contact-submit:hover{
    transform: translateY(-2px);
}
#contact-submit:active {
    background-color: #FFCC66;
    transform: translateY(2px);
}

#paper-plane {
    height: 20px;
    transform: translate(10px, -1.5px);
    filter: invert(14%) sepia(1%) saturate(2245%) hue-rotate(348deg) brightness(92%) contrast(78%);
}



@media(max-width: 641px) {
    .contact-text {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    #contact-text-subhead {
        text-align: center;
    }
    .contact-form {
        width: 100%;
    }
}