.main-container{
  height: 100vh;
  width: 100%;
}
.navbar{
  background-color: transparent;
  border: none;
  color: white;
  z-index: 100;
  transition: background-color 1s ease 0s;
  height: 65px;
}
.container-fluid{
  align-items: center;
}
.container-fluid button{
  border: none;
  background-color: transparent;
  margin: 12px 0px 0px 0px;
}
.container-fluid button .icon-bar{
  height: 3px;
}
.container-fluid button.navbar-toggle:hover{
  background-color: transparent;
}
.container-fluid button.navbar-toggle:active{
  background-color: transparent;
}
.container-fluid button.navbar-toggle:focus{
  background-color: transparent;
}
.navbar-home{
  margin: 8px 0px 0px 10px;
  display: inline-block;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}
.navbar-default .navbar-nav > a, .navbar-default .navbar-nav > a:hover, .navbar-default .navbar-nav > a:focus {
  background-color: transparent;
}
div#nb-collapse{
  float: right;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: white;
  font-weight: bolder;
}
.navbar-default .navbar-brand:hover {
  color: #FFCC66;
  transition: color 1s ease 0s;
}
.navbar-default .navbar-brand p{
  font-size: 1em;
}
.navbar-default .navbar-nav > li > a {
  color: white !important;
  margin: 8px 5px 5px 5px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
  color: rgb(91, 148, 255);
}
div.show#nb-collapse {
  float: none;
}

/* after navbar transitions to color */
.navbar.solid {
  background-color: #313131d0;
  transition: background-color 0.75s ease 0s;
}
.navbar.solid .navbar-brand {
  color: white;
  font-weight: bolder;
}
.navbar.solid .navbar-brand:hover {
  color: #FFCC66;
  transition: color 1s ease 0s;
}
.navbar.solid div #nb-collapse{
  background-color: transparent;
  transition: background-color 0.75s ease 0s;
}
.navbar.solid div.show#nb-collapse{
  background-color: #313131d0;
  transition: background-color 0.75s ease 0s;
}
.navbar.solid .navbar-nav > li > a{
  color: white !important;
  transition: color 1s ease 0s;
}
.navbar.solid .navbar-nav > li{
  background-color: transparent;
}
.navbar-static-top .navbar-collapse.in {
  overflow-y: visible; 
}

.intro-box{
  display: flex;
  text-align: center;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  background: 
    linear-gradient(
      -40deg,
      rgba(0,0,0,0.3),
      rgba(0, 40, 105, 0.3)
    )
  ;
}
.intro-container {
  width: 100%;
}
.intro-name{
  font-size: 3.5em;
}
.intro-title{
  font-size: 2.0em;
}
.main-body-box{
  height: auto;
}
.to-about{
  cursor: pointer;
}
.to-about p{
  font-size: 1em;
  font-weight: bold;
}
.to-about p:hover{
  color: #FFCC66;
  transition: color 1s ease 0s;
}
.to-projects{
  cursor: pointer;
}
.to-projects p{
  font-size: 1em;
  font-weight: bold;
}
.to-projects p:hover{
  color: #FFCC66;
  transition: color 1s ease 0s;
}
.to-skills{
  cursor: pointer;
}
.to-skills p{
  font-size: 1em;
  font-weight: bold;
}
.to-skills p:hover{
  color: #FFCC66;
  transition: color 1s ease 0s;
}
.to-experience{
  cursor: pointer;
}
.to-experience p{
  font-size: 1em;
  font-weight: bold;
}
.to-experience p:hover{
  color: #FFCC66;
  transition: color 1s ease 0s;
}