.about-content-box{
    width: 100%;
    min-height: calc(100vh - 65px);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10% 0;
    background-color: #eee;
    cursor: default;
}
.profile-photo-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-photo{
    border-radius: 25px;
    width: auto;
}
.about-title{
    width: 100%;
    display: block;
}
.about-content{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 65%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 700;
    margin-left: 50px;
    margin-right: 20px;
    color: #636363;
    line-height: 2.5em;
    word-spacing: 0.25em;
}
.extreme {
    font-style: italic;
}
.please-note{
    font-size: 1.0em;
}
/* Email, LinkedIn, Github section begins */
.single-link{
    margin-bottom: 5%;
}
.contact-links{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 100%;
}
.about-icon{
    z-index: 2;
    -webkit-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    transition: all 400ms ease;
}
.about-icon:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}
.email-link{
    display: flex;
    font-size: 17px;
    text-decoration: none;
}
.email-icon{
    width: 2.5em;
    margin: 0px 0px 0px 0px;
}
.email-text-link{
    color: grey;
}
.linkedin-link{
    display: flex;
    font-size: 17px;
    text-decoration: none;
}
.linkedin-icon{
    width: 3.5em;
    margin: 0px 0px 0px 0px;
}
.github-link{
    display: flex;
    font-size: 17px;
    text-decoration: none;
}
.github-icon{
    width: 2.5em;
    margin: 0px 0px 0px 0px;
}
.git-text-link{
    color: black;
}
